.sport-top p, .sport-mitte h1{
    margin: 0;
    padding: 0;
}

.sport-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sport-mitte h1{
    font-size: 55px;
}