.traum-top h2, .traum-top p, .traum-mitte p{
    margin: 0;
    padding: 0;
}

.traum-mitte p{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.traum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
