.begrusung-layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.begrusung-layout h1, .begrusung-layout-infos p{
    margin: 0;
    padding: 0;
}

.begrusung-layout-infos{
    display: flex;
    flex-direction: column;
    gap: 8px;
}