


.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 20px;
    width: 1200px;
    height: 1000px;
}


.bento-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-radius: 16px;
    transition: 1s;
    padding: 30px 20px;
    box-sizing: border-box;
}

.bento-item:hover {
    transform:scale(1.02);
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgb(236, 236, 236);
}



.sport{ 
    grid-column: span 2; 
}

.traume { 
    grid-row: span 2;
    transition: 2s;

    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/schlaf-9124043-7414476.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 350px) calc(100% - 50px); 
    background-size: 350px 350px; 
}

.traume:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/schlaf-9124043-7414476.png?f=webp');
    background-repeat: no-repeat;
    background-position: bottom left; 
    background-size: 350px 350px; 
}

.trinken { 
    grid-row: span 1;
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/glas-wasser-8701713-7097710.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 100px) calc(100% + 200px); 
    background-size: 200px 200px; 
}

.trinken:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/glas-wasser-8701713-7097710.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 40px) calc(100% + 70px);
    background-size: 250px 250px; 
}

.wetter { 
    grid-row: span 1;
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/bewolkter-tag-7769843-6308010.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 200px) calc(100% - 200px); 
    background-size: 200px 200px; 
}

.wetter:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/bewolkter-tag-7769843-6308010.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 30px) calc(100% + 40px);
    background-size: 250px 250px; 
}


.schritte { 
    grid-row: span 1;
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/schulschuhe-5641819-4695870.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 200px) calc(100% + 200px); 
    background-size: 200px 200px; 
}

.schritte:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/schulschuhe-5641819-4695870.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 50px) calc(100% + 60px);
    background-size: 270px 270px; 
}


.gedanken { 
    grid-row: span 2; 
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/gehirn-5567489-4696523.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 200px) calc(100% + 200px); 
    background-size: 200px 200px; 
}

.gedanken:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/gehirn-5567489-4696523.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% + 50px) calc(100% + 100px);
    background-size: 300px 300px; 
}


.gemut { 
    grid-column: span 2; 
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/funkelnde-sterne-4794556-3992735.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 100px) calc(100% + 200px); 
    background-size: 200px 200px; 
}

.gemut:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/funkelnde-sterne-4794556-3992735.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 350px) calc(100% + 20px);
    background-size: 270px 270px; 
}


.schlaf { 
    grid-column: span 1; 
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/bett-8701681-7097721.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 200px) calc(100% + 200px); 
    background-size: 200px 200px; 
}

.schlaf:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/bett-8701681-7097721.png');
    background-repeat: no-repeat;
    background-position: calc(100% + 50px) calc(100% + 75px);
    background-size: 270px 270px; 
}



.sport { 
    grid-column: span 2; 
    transition: 2s;
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/fitnessstudio-6358796-5272658.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 250px) calc(100% + 250px); 
    background-size: 375px 250px;
}

.sport:hover{
    background-image: url('https://cdn3d.iconscout.com/3d/premium/thumb/fitnessstudio-6358796-5272658.png?f=webp');
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) calc(100% + 60px);
    background-size: 375px 250px;
}