.datenAnalyse-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.analyse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.analyse-top{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.analyse-mitte{
    display: flex;
    flex-direction: column;
    width: 100%;   
}

#tage{
    background-color: #fafafa; 
    font-size: 16px;
    border-radius: 8px;
    border: none;
    padding: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), -1px -4px 6px rgb(248, 253, 255);
}

.analyse-mitte p{
    margin: 0px 0px;
    padding: 0;
}

.analyse-mitte p b{
    color: red;
}

.alle-einträge-tabelle, .übersicht-tabelle {
    width: 100%; 
    border-radius: 8px; 
    border-collapse: collapse; 
    table-layout: fixed;
    background-color: #fafafa; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.alle-einträge-tabelle th, .alle-einträge-tabelle td,
.übersicht-tabelle th, .übersicht-tabelle td{
    padding: 10px; 
    text-align: left; 
    word-wrap: break-word; 
    word-break: break-word; 
    max-width: 50%; 
}
 
.alle-einträge-tabelle th, .übersicht-tabelle thead tr th {
    font-weight: bold; 
    background-color: rgb(233, 233, 233); 
}
  
.alle-einträge-tabelle td, .übersicht-tabelle td {
    vertical-align: top;
}
  
.alle-einträge-tabelle tr td:last-child, .alle-einträge-tabelle tr th:last-child  {
    text-align: right; 
}
  
.alle-einträge-tabelle tr td:not(:last-child), .alle-einträge-tabelle tr th:not(:last-child) {
    text-align: left; 
}



.übersicht-tabelle{
    margin-top: 20px;
}

